
{% extends 'base.html.twig' %}
{% block title %}
<title>Appartement need's</title>
{% endblock %}

{% block content %}
    <div class="row">
        {% for key, product in products %}
            <div class="col-4">
                <div class="card">
                    <img src="{{ product }}" class="card-img-top" alt="appartment example">
                    <div class="card-body">
                        <h5 class="card-title">{{ key }}</h5>
                        <p class="card-text">Some example to equip your home.</p>
                        <a href="#" class="btn btn-primary">See more !</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}